*{
    padding: 0%;
    margin: 0%;
}

.container{
    background-color: black;
    color: white;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 70px;

}

/* .navbar-left:hover{
    color: rgb(248, 31, 7);
} */

ul{
    display: flex;
}
li a {
    text-decoration: none;
    color: white;

}

.navbar-right ul li {
list-style-type:none;
display: flex;
padding: 20px;
}

a:hover{
    color: rgb(248, 31, 7);
} 

li.active a{
    color: rgb(248, 31, 7);
}

/* Nav Bar Ended */


/* about page  */

.bg-img{

    background-image: url(../images/home-1.jpg);
    height: 91vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container{
    display: flex;
}

/* about left started  */

.about-left{
    width: 50%;
    height: 100vh;
}

.my-img img{
    width: 450px;
    padding: 10px
    
}

.my-img{
    position: relative;
}

.my-skill::before{
    content: '';
    position:absolute;
    background-color: rgba(14, 13, 13, 0.693);
    width: 550px;
    height: 340px;
    top: 250px;
    left: 100px;

}


/* about left ended */

/* about right started */

.h1{
    font-size: 25px;
    padding: 50px;
    width: 250px;
    text-align: center;
    position: relative;
}

.h1 h2{
    border: 2px solid;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.h1 h2::before{
    content: '';
    position: absolute;
    width: 0;
      height: 0;
      border-top: 10px solid #fff;
      border-right: 10px solid transparent;
      bottom: 40px;
      left: 100px;
}

.para{
    width: 700px;
}

