@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Pacifico&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

.container{
    background-color: black;
    color: white;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 70px;

}

/* .navbar-left:hover{
    color: rgb(248, 31, 7);
} */

ul{
    display: flex;
    flex-wrap: wrap;
}
li a {
    text-decoration: none;
    color: white;
    

}

.navbar-right ul li {
list-style-type:none;
display: flex;
padding: 20px;
}

a:hover{
    color: rgb(248, 31, 7);
} 

li.active a{
    color: rgb(248, 31, 7);
}

ul li::before{
    content: '';
    height: 2px;
    width: 2px;
    background-color: #d076bf;
    top: 20px;
}

.bg-img{

    background-image: url(../images/home-bg-1.jpg);
    height: 91vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.left-home{
padding-right: 100px;
}

.icon-container{
    display: flex;
    justify-content: center;
}

.icon-container i{
    color: #fff;
    padding: 20px;

}

.fa-facebook:hover{
    color: rgb(56, 14, 239);
}

.fa-facebook-messenger:hover{
    color: rgb(9, 150, 244);
}

.fa-whatsapp:hover{
    color: rgb(12, 237, 15);
}

.fa-instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter:hover{
    color: #c82323;
}


.h1{
    text-align: center;
    padding-bottom: 20px;
    color: #d076bf;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}
.h1{
    position: relative;

}

.h1::after{
    content: '';
    height: 3px;
    width: 0px;
    background: rgb(238, 95, 95);
    top: 5px;
    right: 143px;;
    position: absolute;
    transition: 0.5s linear;
}
.h1::before{
    content: '';
    height: 3px;
    width: 0px;
    background: rgb(238, 95, 95);
    top: 92px;
    left: 143px;
    position: absolute;
    transition: 0.5s linear;
}

.h1:hover::after{
    width: 345px;
}
.h1:hover::before{
width: 345px;
}

.para{
    padding-bottom: 20px;
    font-size: 25px;
    width: 545px;
    padding-left: 85px;
    font-family: 'Josefin Sans', sans-serif;

}

.btn-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
}

.btn-container span a {
  padding-left: 70px;
}

.btn-container button{
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 25px;
    transition: 00.5s;

}

.btn-container button:hover{
    background-color: #d076bf;
    

}



.about{
    background-color:  rgb(248, 31, 7);

}



.my-photo img{
    width: 381px;
    box-shadow: 11px 14px 16px #04040412;
}
